{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur mon blog</h1>

    <ul>
        <a href="{{ path('article_index') }}">Liste des articles</a>
        <a href="{{ path('tag') }}">Liste des tags</a>
    </ul>
{% endblock %}