{% extends 'base.html.twig' %}

{% block title %} success page {% endblock %}

{% block body %}
    <h1>Success !</h1>
    <a href="{{ path('app_index') }}">
        Back to homepage.
    </a>
{% endblock %}